*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html,
body {
  background: #000 url("./Images/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.char_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.char_img {
  width: 400px;
  height: 400px;
}
